body{
    margin: 0;
}


#cardContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 32rem;
    display: flex;
    align-items: center;
}

.card h2{
    margin: 24px;
}

.card-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer{
    width:95%;
    margin-bottom: 8px;
}

.answer:hover{ 
    background-color: rgba(0, 0, 0, 0.033);
    cursor: pointer;
}

.cardFooter{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.479);
}

.d-block{
    display: block;
}

.d-visibility{
    visibility: hidden !important;
}

.bg-locked{
    background-color: rgba(0, 0, 0, 0.208);
}


.bg-success, .bg-danger{
    color: white !important;
}   