body{
    margin: 0;
}


#cardContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 32rem;
    display: flex;
    align-items: center;
}

.card h2{
    margin: 24px;
}

.answer{
    width:95%;
    margin-bottom: 8px;
}

.cardFooter{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.479);
}