html{
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#cardContain{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#startText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startText h2{
    margin-left: 0;
}

#startscreen{
    height: 75%;
    flex: 1;
    background-image: url(img/Quizapp/brainbg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 120px;
}

#startBtn{
    background-color: #27355C;
    color: white;
    margin-bottom: 40px;
}

#menu{
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%; 
    background-color: #27355C;
    color: #9DA8C6;
}

#menu img{
    margin-top: 24px;
    cursor: pointer;
}

#menuList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 120px 0;    
    width: 100%
}

#cancelBtn{
    background-color: #9DA8C6;
    color: #27355C;
}

.category{
    width: 100%;
    text-align: center;
}

.category:hover{
    cursor: pointer;
    color: white;
    border-left: 4px solid white;
}

.active{
    color: white;
    border-left: 4px solid white;
}

#answerCards{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    padding: 20px 0;
}

#playscreen{
    height: 100%;
    background-color: #F7F7F7;
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}

#playscreen img{
    height: 150px;
    object-fit: cover;
}

#question{
    text-align: center;
    hyphens: auto;
}

.card{
    width: 32rem;
    display: flex;
    align-items: center;
}

.card h2{
    margin: 24px;
}

.card-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer{
    width:95%;
    margin-bottom: 8px;
}

.answer:hover{ 
    background-color: rgba(0, 0, 0, 0.033);
    cursor: pointer;
}

.disableAnswers{
    pointer-events: none;
}

.cardFooter{
    width: 95%;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.479);
}

#progressBar{
    width: 100%;
    background-color: #27355C;
}

#progressBarContainer{
    border-radius: 4px;
}


.d-block{
    display: block;
}

.d-visibility{
    visibility: hidden !important;
}

.bg-locked{
    background-color: rgba(0, 0, 0, 0.208);
}

.d-flex{
    display: flex !important;
}

.d-block{
    display: block;
}

#endscreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
}

#twoButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

#score{
    width: 100%;
    font-size: 24px;
    padding: 24px 0;
    display: flex;
    justify-content: space-evenly;
}


#scoreText{
    color: rgb(226, 169, 11);
}

.bg-success, .bg-danger{
    color: white !important;
}

#burgerMenu{
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    color: #27355C;
    width: 55px;
    height: 45px;
    border-radius: 5px;
    border-style: double;
    margin-right: 32px;
}

#burgerMenu p{
    width: 32px;
    height: 4px;
    margin: 2px;
    background-color: #27355C;
}

#burgerMenu:hover{
    cursor: pointer;
}

#close{
    display: none;
    background-color: #9DA8C6;
    color: #27355C;
}

.endscreenBtn{
    min-width: 160px;
}




@media(max-width: 768px){
    #cardContain{        
        width: 100%;
        flex-direction: column;
    }

    #startscreen{
        width: 100%;
    }

    #menu{
        height: 130px;
        width: 100%; 
        flex-direction: row;
    }

    #menuList{
        flex-direction: row;
        gap: 56px;
        padding: 0;
    }

    .category{
        width:fit-content;
    }

    #menu img{
        margin-top: 0px;
        padding-left: 32px;
    }

    .category:hover{       
        border-left: none;        
    }
    
    .active{
        border-left: none;        
    }

    #startscreen{
        height: 100%;        
    }

}


@media(max-width: 576px){

    #startscreen{
        background-size: cover;
        justify-content: end;    
        gap: 40px; 
    }


    #menu{
        justify-content: space-between;
    }

    #menuList{
        display: none;
        z-index: 11;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #27355C;
        flex-direction: column;
        padding: 60px  0;
        gap: 16px;
    }

    #burgerMenu{
       display: flex;
    }


   

    

    

}